In [6]:
#注释一行
print("Helloworld") #后面也可以注释
"""
多行注释
多行
注释
"""
'''
ss
dd
aa
'''

Helloworld

'\nss\ndd\naa\n'

In [1]:
#关键字
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
#变量赋值
age  =18
print(age )

age1 = age2 = age3  = 22
print(age1)
print(age2)
print(age3)

age4,age5,age6 = 24,28,33
print(age4)
print(age5)
print(age6)

18
22
22
22
24
28
33

In [7]:
#数据类型 Object
-数字类型 Number
-字符串类型 str
-列表 list
-元组 tuple
-字典 Dictionary
-集合 set

#数字类型没有大小限制
##整数
    二进制
        0b开头 如 0b01101,0b10001
    八进制
        0o开头 如0o01537,0o1234567
    十六进制
        0x开头 如0xffa1,0x154bc
    十进制

In [15]:
age = 10 
print(age)
age = 0b10010 # 十进制18
print(age)
age  =0o22 # 十进制18
print(age)

age = 0xff #255
print(age)

10
18
18
255

##浮点数
-小数有条件省略
    -3.1415
    -3.
    -0.5
    -.4
-科学计数法
    -e或者E 后面跟整数表示10的指数
    -1457.22 == 1.45722e2

In [19]:
height = 167.24
print(height)

shili = 0.2
print(shili)

shili = .6
print(shili)

shili =3.
print(shili)

kexue = 1.453e2 #145.3
print(kexue)

167.24
0.2
0.6
3.0
145.3

##复数
-由实部与虚部组成
-虚部用j或者J结尾表示
-5+3j
-3j

##布尔值
-表示真假的值 True / False  1 / 0

In [20]:
age = 18 + True
print(age)

19

#字符串
-表示
    -单引号
    -双引号
    -三引号（三个单或者双）能扩起多行信息
-单双引号交叉使用

In [28]:
love = "i love u"
print(love)

love = 'i love 肉'
print(love)

#单双引号交叉使用例子
#<a style="color:red">哈哈</a>
html = '<a style="color:red">哈哈</a>'
print(html)

#多行字符串
html = '''<a style = "color:red">
哈哈
</a>
'''
print(html)

i love u
i love 肉
<a style="color:red">哈哈</a>
<a style = "color:red">
哈哈
</a>